<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<title>New message</title>
	</head>
	<body>
		<h1>New message</h1>
		<form method="POST" action="/new" id="new-message-form">
			<label for="message">Message:</label>
			<textarea type="text" name="message" required></textarea>
			<label for="author">Author</label>
			<input type="text" name="author" required />
			<button type="submit">Submit</button>
		</form>
		<% if(typeof errors !== 'undefined') {%> <% errors.forEach(error => { %>
		<p style="color: red">·<%= error %></p>
		<% }) %> <% } %>
	</body>
</html>
